<div class="container ">
<div class="text-center">
  <img src="../../assets/logo_transparent.png" height="200" width="200"/>
</div>
<div id="login-form-wrap">
  <h2>Se connecter</h2>
  <form id="login-form">
    <p>
      <input type="email" id="email" name="email" placeholder="Votre email" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="password" id="password" name="password" placeholder="Votre mot de passe" required><i class="validation"><span></span><span></span></i>
    </p>
    <p>
      <input type="submit" id="login" value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <p>Nouveau chez EMISHOP? <a href="#">Créer votre compte</a><p>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->

</div>
