<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EmiShop</a>

    <div class="d-flex w-50">

        <select class="form-select me-2 bg-light" [(ngModel)]="selectedCategory" name="category" (ngModelChange)="searchbycategorie()" style="width: 15%;">
          <option value="" disabled selected>All</option>
          <option *ngFor="let category of categories" [value]="category">
            {{category}}
          </option>
        </select>

        <div class="d-flex w-100" >
          <input class="form-control me-2" name="searchTerm" type="text"
                 (ngModelChange)="searchByKey()" [(ngModel)]="searchKey"
                 placeholder="Cherchez un produit, une marque ou une catégorie" aria-label="Search" style="width: 60%;">
          <button class="btn btn-primary bi-search" (click)="searchByKey()">Rechercher</button>
        </div>
    </div>


    <div class="navbar-collapse d-flex " id="mynavbar">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a routerLink='/Listproduit' class="nav-link bi bi-house" ></a>
        </li>

        <li class="nav-item" *ngIf="Authen===false">
          <a routerLink='/Auth' class="nav-link bi bi-person-fill" (click)="Auth()"></a>
        </li>

        <li class="nav-item" *ngIf="Authen===true">
          <a class="nav-link bi bi-box-arrow-right" (click)="LogOut()"></a>
        </li>

        <li class="nav-item">
          <a routerLink="/Orders" class="nav-link bi bi-card-list"></a>
        </li>

        <li class="nav-item">
          <a routerLink="/Panier" routerLinkActive="active" class="nav-link bi bi-cart"></a>
        </li>

      </ul>
    </div>
  </div>
</nav>
