<h2 class="handwritten text-primary mt-5 ms-5 bi bi-bag-check">Mes commandes :</h2>
<div class="container mt-5">
  <table class="styled-table">
    <thead>
    <tr>
      <th>Image</th>
      <th>Désignation</th>
      <th>Prix (USD)</th>
      <th>Quantité</th>
      <th>Totale (USD)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td class="quantity-input">
        <input type="number" min="1" class="form-control quantity-box" />
      </td>
      <td class="total"></td>
    </tr>
    <tr class="total-row">
      <td colspan="4" style="text-align: right; font-weight: bold;">Total :</td>
      <td> </td>
    </tr>
    </tbody>
  </table>
</div>
