<h2 class="handwritten text-primary mt-5 ms-5 bi bi-bag-check">Mes commandes :</h2>

<div class="container mt-5">
  <div *ngFor="let commande of commandes | async; let i = index;" class="order-card">
    <!-- Header of the order card showing the order date -->
    <div class="order-header">
      <h4><strong>{{ commande.dateCommande | date: 'fullDate' }} à {{ commande.dateCommande | date: 'shortTime' }}</strong></h4>
    </div>

    <!-- Loop over each item in commande.detail to display products individually -->
    <div class="order-items">
      <div *ngFor="let item of commande.detail" class="product-card">
        <div class="product-img">
          <img *ngIf="item.produit?.images?.[0]" [src]="item.produit.images[0]" alt="Product Image" />
        </div>
        <div class="product-info">
          <h5>{{ item.produit.title }}</h5>
          <p>{{ item.produit.price | currency: 'USD' }}</p>
          <p><strong>Quantité: {{ item.quantite }}</strong></p>
        </div>
      </div>
    </div>

  </div>
</div>
