<div class="card h-100">
  <div class="d-flex justify-content-center align-items-center">
    <img class="card-img-top img-fluid w-50" [src]="product.images[0]" alt="Card image">
  </div>
  <div class="card-body">
    <span *ngIf="product.stock === 0" [ngStyle]="{color: getColor()}"><strong>{{ getStatut() }}</strong></span>
    <span *ngIf="product.stock > 0" [ngStyle]="{color: getColor()}"><strong>{{ getStatut() }}</strong></span>
    <br><button class="bg-transparent border-0" (click)="ProductSelected()" [ngStyle]="{'color': 'orange'}"><strong>{{product.title}}</strong></button>
    <h4 class="card-title text-secondary">{{product.price}} $</h4>
    <p class="card-text">
      {{product.description}}
      <br>
    </p>
    <a *ngIf="product.stock > 0" (click)="addTopanier()" class="btn btn-success">
      Ajouter au panier <i class="bi bi-basket"></i>
    </a>
  </div>
</div>


