
.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }



.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.color:first-of-type {
  margin-left: 20px; }


.ticket-style {
  background-color: #f8f9fa; /* Couleur de fond claire */
  border: 2px dashed #000; /* Bordure en pointillés comme un ticket */
  padding: 10px 20px; /* Espacement intérieur */
  border-radius: 10px; /* Coins arrondis */
  display: inline-block;
  font-family: 'Courier New', monospace; /* Police type ticket */
}

